@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <b>Email:</b> reyesdominguez10@hotmail.com<br />
    San Pedro de Macorís, R.D<br />
</address>

<address>
    <strong>More Information:</strong>   <a href="mailto:reyesdominguez10@hotmail.com">reyesdominguez10@hotmail.com</a><br />
</address>